# Node.js dependencies
node_modules/
dist/
.vite/
.vitepress/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor and system files
.idea/
.vscode/
.DS_Store
Thumbs.db

# TypeScript build files
*.tsbuildinfo

# Others
coverage/
*.log
