.productContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  gap: 25px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 30px;
}
.cart {
  width: 250px;
  height: fit-content;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  transition-duration: 0.3s;
}
.cart:hover {
  transform: scale(1.03);
}

.cart p {
  font-size: 13px;
  padding: 8px;
  text-align: justify;
  margin-bottom: 7px;
}
.cart img {
  height: 100px;
  width: 100%;
  object-fit: contain;
}

.viewDetailbtn {
  padding: 6px 12px;
  border: none;
  border-radius: 10px;
  background-color: lightgreen;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.viewDetailbtn:hover {
  opacity: 0.9;
}
.cart span {
  font-size: 10px;
  font-weight: bold;
}
.searchboxin {
  width: 100%;
  height: 40px;
  padding: 20px;
}
@media screen and (min-width: 424px) and (max-width: 585px) {
  .productContainer {
    padding: 15px;
    margin-top: 20px;
    gap: 18px;
    justify-content: space-around;
  }
  .cart {
    width: 160px;
    padding: 15px
  }
    .cart img {
    height: fit-content;
    object-fit: contain;
    height: 50px;
  }
  .viewDetailbtn {
    padding: 1px 5px;
    font-size: 15px;
  }
  
}

@media screen and (max-width: 425px) {
  .productContainer {
    padding: 15px;
    margin-top: 20px;
    gap: 18px;
    justify-content: space-around;
  }
  .cart {
    width: 90px;
    padding: 3px;
  }
  .cart img {
    height: fit-content;
    object-fit: contain;
    height: 50px;
  }
  .cart p {
    font-size: 8px;
    padding: 5px;
    max-height: 40px;
    overflow: auto;
  }
  .viewDetailbtn {
    padding: 1px 5px;
    font-size: 8px;
  }
  .load-event {
    margin-top: 120px;
  }
}
